#stagirite_iframe {
    visibility: hidden;
    background: white;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 1px 1px 5px rgba(0,0,0,.25);
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 225px;
    width: 275px;
    top: -200px;
    z-index: 99999999;
}

#stagirite_iframe.show {
  visibility: visible;
  top: 50px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
}

#stagirite_iframe.hide {
  top: -500px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
}
