@font-face {
  font-family: 'proxima_novaregular';
  src: url('/static/fonts/proxima-nova-regular-webfont-webfont.eot');
  src: url('/static/fonts/proxima-nova-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'), url('/static/fonts/proxima-nova-regular-webfont-webfont.woff') format('woff'), url('/static/fonts/proxima-nova-regular-webfont-webfont.ttf') format('truetype'), url('/static/fonts/proxima-nova-regular-webfont-webfont.svg#proxima_novaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_novasemibold';
  src: url('/static/fonts/proximanova-semibold-webfont-webfont.eot');
  src: url('/static/fonts/proximanova-semibold-webfont-webfont.eot?#iefix') format('embedded-opentype'), url('/static/fonts/proximanova-semibold-webfont-webfont.woff') format('woff'), url('/static/fonts/proximanova-semibold-webfont-webfont.ttf') format('truetype'), url('/static/fonts/proximanova-semibold-webfont-webfont.svg#proxima_novasemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
