.lis_dashboard {
  got-offset-x: 1px;
  -webkit-box-shadow: 1px 2px 5px #888;
  -moz-box-shadow: 1px 2px 5px #888;
  box-shadow: 1px 2px 5px #888;
  position: fixed;
  top: 100px;
  background: #eee;
  z-index: 9999;
  right: 0;
  width: 250px;
  height: 350px;
  padding: 10px;
  font-size: 16px;
}
.lis_dashboard .lis_title {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
.lis_dashboard .lis_status {
  display: block;
  color: #808080;
  font-size: 10px;
  line-height: 14px;
}
.lis_dashboard textarea {
  width: 245px;
  height: 75px;
  font-size: 12px;
}
.lis_dashboard hr {
  display: block;
}
.lis_dashboard .lis_nameformula,
.lis_dashboard .lis_domainformula {
  width: 100px;
}
.lis_dashboard .lis_ampersand {
  font-size: 12px;
}
.lis_dashboard .lis_emails {
  margin-top: 15px;
}
