body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 22px;
  color: lighten(@grayDark, 8%);
  background: url("/static/images/white_bed_sheet.png") repeat;
}

h1, h2, h3, h4, h5 {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: @grayDarker;
  font-weight: 400;
}

a img {
  border: 0;
}

a {
  color: lighten(@blue, 10%);
}

a:visited {
  color: lighten(@blue, 25%);
}

#outer {
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border-spacing: 0;

  td {
    vertical-align: top;
  }

}


#content {
  max-width: 900px;
}

h1 {
  font-size: @basefont * 2.5;
  line-height: @baseline * 1.5;
}

.section {
  font-size: 15px;
  line-height: 22px;
  display: block;

  &.contact {
    margin-top: 30px;
  }
}

.container {

  margin-top: 40px;
  margin-bottom: 50px;

  h2 {
    display: inline;

    a {
      font-size: @basefont * .8;
      vertical-align: top;
    }
  }

  ul {
    margin: 0;
    padding-left: 30px;
    position: relative;
    li {
      color: @grayDark;
    }
  }


  &.left {
    ul {
      left: 20px;
    }
    img {
      float: left;
      margin: 0 80px 40px 0;
    }

  }

  &.right {
    img {
      float: right;
      margin: 0 0 40px 80px;
    }
  }
}

#pppiano {
  .container;
  .container .left;

  img {
    padding-bottom: 10px;
  }
}

#domaingroovy {
  .container;
  .container .right;

}

#goviva {
  .container;
  .container .right;
}

#rentacarnow {
  .container;
  .container .left;
}

#blogcatalog {
  .container;
  .container .right;
}

.col {
  width: 40%;
  margin-right: 10%;
  margin-bottom: 30px;
  float: left;
  h3 {
    line-height: 20px;
    margin: 10px 0;
  }
  ul {
    padding-left: 0;
  }
}

.medium { .col; }
.small {
  width: 50%;
}
#other {
  .section {
    float: left;
    font-size: 90%;
    margin-bottom: 20px;

    ul {
      margin: 0;
      list-style: none;
    }
  }
}
#contact {
  .email {
    font-weight: bold;
  }

  .sitelinks {
    float: right;
    margin: 40px;
  }
}

#header {
  padding: 20px 0;

  img {
    float: left;
    margin-right: 25px;
  }

  h1 {
    margin-top: @baseline/2;
    margin-bottom: @baseline/2;
  }

  .tagline {
    font-size: 15px;
  }
}

#footer {
  padding-top: 75px;

  #octopress {
    float: right;
    padding-bottom: 10px;

    img {
      opacity: .75;
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;        
      &:hover {
        opacity: 1;
      }
    }
  }
}

#nav {
  list-style: none;
  margin: 0;
  padding: 5px 0 15px 0;
  font-size: 14px;

  li {
    float: left;
    padding-right: 26px;
  }
}

.minilogo {

  text-decoration: none;
  display: block;
  padding: 10px;
  margin-left: -10px;
  margin-top: -10px;

  img {
    padding-top: 7px;
  }


  .inner {
    color: black;
    font-weight: bold;

  }
}

.blog {
  #header {

    img {
      margin-right: 10px;
      margin-top: -8px;
    }

    .view-profile {
      font-size: 14px;
    }
  }

  .entry {
    max-width: 600px;
    margin-bottom: @baseline*6;

    .date {
      color: @gray;
    }
  }

  #call-to-action {
    margin-top: @baseline*3;
    img {
      float: left;
      margin-right: @baseline/1.5;
      margin-bottom: 20px;
    }
  }


  h1 {
    font-size: 40px;
    line-height: 46px;
  }
}

#recent_posts {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

#comments {
  display: none;
}

#show_comments {
  color: gray;
  display: block;
  padding: 20px;
  text-align: center;
}

@media print, screen and (max-width: 1200px) {

  #about {
    float: right;
    margin-top: 0;

    .section {
      margin: 0;
      display: inline;
    }
  }

  #content {
    margin-left: 0;
    clear: both;
  }

}

@media print, screen and (max-width: 720px) {

  #header {

    img {
      padding-bottom: 20px;
      display: block;
    }
  }

  #content {
    padding: 10px 20px;
    
    img {
      display: block;
      float: none;
      margin: 0 auto;
    }

    p {
      display: block;
    }

    #domaingroovy ul, #blogcatalog ul {
      width: 80%;
      left: 0;
    }

  }

  .blog {
    #header {
      img {
        float: left;
      }
    }
  }

  .medium {
    display: block;
    width: auto;
  }

  .small {
    width: 50%;
  }

  #other {
    float: none;
  }

}

@media print, screen and (max-width: 480px) {

  #content {
    img {
      max-width: 250px;
    }
  }

}
