---
layout: default
has_header: true
---

<div class="row page">

  <!-- Main Blog Content -->
  <div class="twelve columns blog_entry" role="content">

    <article>
      {% if page.header_image %}
        <div class="row">
          <div class="mobile-four eight columns centered">
            <img src="{{ page.header_image }}" />
          </div>
        </div>
      {% endif %}
      <div class="row">
        <div class="mobile-four ten push-two columns">
          <h1>{{ page.title }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="mobile-four eight columns centered">
            <h6 class="subheader">{{ page.date_formatted }}</h6>
        </div>
      </div>

      <div class="row">

        <div class="eight mobile-four columns centered">
          {{ content }}
        </div>
      </div>

    </article>

    <div class="row">
      <hr>
      <div class="eight mobile-four centered columns">
        <p>Check out my latest project that helps you <a href="http://domaingroovy.com">find available domain names</a> for your next startup or side project.

        <br /><br />

        <a href="http://twitter.com/bradjasper">Follow me on Twitter &raquo;</a>

      </div>
    </div>
  </div>


  <!-- End Main Content -->

</div>

<!-- End Main Content and Sidebar -->

