<hr>

<div id="footer">
    <ul>
        {% if page.show_home_footer %}
          <li><a href="/">Home</a></li>
        {% endif %}
        <li><a href="/blog.html">Blog</a></li>
        <li><a href="mailto:contact@bradjasper.com">E-mail</a></li>
        <li><a href="https://github.com/bradjasper">GitHub</a></li>
        <li><a href="http://bradjasper.com/resume/">Resume</a></li>
        <li><a href="https://twitter.com/bradjasper">Twitter</a></li>
    </ul>


    <p>
        <a href="http://octopress.org">
            <img src="/static/images/octopress.png" alt="Powered by Octopress" />
        </a>
    </p>
</div>